<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"> <strong>Select the Day to access the Course Content</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>-
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark class="color"> <strong>Course Material:</strong></mark></h3><br>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-xl-12">
        <div class="companies-list">
            <a href="/day1" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="https://img.icons8.com/flat-round/2x/wide-long-right-arrow.png" alt=""></span>
                    <h4>Day 1</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Introduction</span>
                </div>
            </a>
            <a href="{{#if week.[1]}}/day2{{else}}#{{/if}}" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="{{#if week.[1]}}https://img.icons8.com/flat-round/2x/wide-long-right-arrow.png{{else}}https://img.icons8.com/plasticine/2x/lock.png{{/if}}" alt=""></span>
                    <h4>Day 2</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Using Canva</span>
                </div>
            </a>
            <a href="{{#if week.[2]}}/day3{{else}}#{{/if}}" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="{{#if week.[2]}}https://img.icons8.com/flat-round/2x/wide-long-right-arrow.png{{else}}https://img.icons8.com/plasticine/2x/lock.png{{/if}}" alt=""></span>
                    <h4>Day 3</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Creating Social Media Posts</span>
                </div>
            </a>
            <a href="{{#if week.[3]}}/day4{{else}}#{{/if}}" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="{{#if week.[3]}}https://img.icons8.com/flat-round/2x/wide-long-right-arrow.png{{else}}https://img.icons8.com/plasticine/2x/lock.png{{/if}}" alt=""></span>
                    <h4>Day 4</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Making a Professional Resume</span>
                </div>
            </a>
            <a href="{{#if week.[4]}}/day5{{else}}#{{/if}}" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="{{#if week.[4]}}https://img.icons8.com/flat-round/2x/wide-long-right-arrow.png{{else}}https://img.icons8.com/plasticine/2x/lock.png{{/if}}" alt=""></span>
                    <h4>Day 5</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Social Media Marketing Magic</span>
                </div>
            </a>
            <a href="{{#if week.[5]}}/day6{{else}}#{{/if}}" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="{{#if week.[5]}}https://img.icons8.com/flat-round/2x/wide-long-right-arrow.png{{else}}https://img.icons8.com/plasticine/2x/lock.png{{/if}}" alt=""></span>
                    <h4>Day 6</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Copywriting Magic</span>
                </div>
            </a>
            <a href="#" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                    <h4>Day 7</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Internship Opportunity</span>
                </div>
            </a>
            <a href="#" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                    <h4>Day 8</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Live Doubt Session</span>
                </div>
            </a>
            <a href="#" class="company">
                <div class="company-inner-alignment">
                    <span class="company-logo"><img src="https://img.icons8.com/plasticine/2x/lock.png" alt=""></span>
                    <h4>Day 9</h4>
                    <span class="company-not-rated" style="background-color: #2a41e8; color: #FFFFFF">Building your First Website</span>
                </div>
            </a>
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-12" style="text-align: center">
            <br><br><h3><mark><strong>Your instructor will keep unlocking the content daily</strong></mark></h3><br><br><br>
        </div>
    </div>
</div>
<script>document.body.style.zoom=1.1</script>
